header {
  background-color: mistyrose;
}
header img {
  background-color: white;
  margin: 1vh 1vw;
  border-radius: 50%;
}
header nav {
  padding: 1vh 1vw;
  background-color: salmon;
  color: white;
  font-weight: 600;
};

header nav a {
  background-color: white;
}