footer {
  background-color: mistyrose;
  
}
footer img {
  background-color: white;
  margin: 1vh 1vw;
  border-radius: 50%;
}
footer a {
  padding: 1vh 1vw;
  color: salmon;
  font-weight: 600;
}

ul {
  list-style: none
}
