<carousel-component [autoPlay]="true"
  [delayAutoPlay]="3000" >
    <div class="item-carousel"><img src="https://images.unsplash.com/photo-1508847154043-be5407fcaa5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" /></div>
    <div class="item-carousel">
        <div class="b">
            <img src="https://www.losminionsaldia.com/images/mas-minions/minion.png" />
        </div>
    </div>
    <div class="item-carousel">c</div>
    <div class="item-carousel">d</div>
</carousel-component>