ngb-carousel {
  width: 80%;
  height: 400px;
  max-height: 400px;
  overflow: hide;
  margin: auto;
  background-color: lightsalmon;
  text-align: center;
  color: black;
}
img {
  padding: 10px 0px;
}