video {
  overflow: hide;
  color: black;
  padding: 10px 0;
  width: 100%;
}

.container {
  margin: 5px auto 10px auto;
  background-color: salmon;
  text-align: center;
  width: 100%;
}
