<footer fxLayout="row">

  <nav fxFlex.gt-sm="30%" fxFlex.sm="35%" fxFlex fxAlign="start center">
    <ul>
      <li><a [routerLink]="['/home']"><mat-icon>home</mat-icon> Home</a></li>
      <li><a [routerLink]="['/about']"><mat-icon>favorite</mat-icon>O AME</a></li>
      <li><a [routerLink]="['/projetos']"><mat-icon>folder_open</mat-icon> Projetos</a></li>
      <li><a [routerLink]="['/voluntario']"><mat-icon>accessibility_new</mat-icon> Seja Voluntário</a></li>
      <li><a [routerLink]="['/doacao']"><mat-icon>card_giftcard</mat-icon> Doações</a></li>
      <li><a [routerLink]="['/loja']"><mat-icon>shopping_cart</mat-icon> Loja</a></li>
      <li><a [routerLink]="['/patrocinio']"><mat-icon>business</mat-icon> Patrocinadores</a></li>
      <li><a [routerLink]="['/clube']"><mat-icon>card_membership</mat-icon> Clube de Vantagens</a></li>
    </ul>
  </nav>
  <div class="image" fxFlex fxLayoutAlign="end center">    
    <img id="logo" src="https://firebasestorage.googleapis.com/v0/b/iame-e84f9.appspot.com/o/logo%2Flogo.png?alt=media&token=cc57b534-3083-4407-9eff-64443d0c1e53" alt="logo da IAME" fxFlex.gt-sm="15%" fxFlex="50%">
  </div>
</footer>