footer {
  background-color: mistyrose;
  border-top: 10px solid salmon;
  border-bottom: 10px solid salmon;
  margin-top: 2vh;  
}
footer img {
  background-color: white;
  margin: 1vh 1vw;
  border-radius: 50%;
}
footer a {
  padding: 1vh 1vw;
  color: salmon;
  font-weight: 600;
}

ul {
  list-style: none
}
