<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
  <app-carousel-home fxFlex.lt-sm="90%" fxFlex.sm="80%" fxFlex.gt-sm="70%"></app-carousel-home>
</div>
<div fxLayout.lt-sm="column" fxLayout="row" fxLayoutAlign="center center">
  <app-donate-card fxFlex fxFlex.gt-sm="30%"></app-donate-card>
</div>


<app-card-line></app-card-line>

<div class="line" fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="10px">
  <iframe fxFlex src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Finstitutoamebr%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=546527249439068" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  <app-depoimento fxFlex></app-depoimento>
</div>
