<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
  <app-carousel-home fxFlex.lt-sm="90%" fxFlex.sm="80%" fxFlex.gt-sm="70%"></app-carousel-home>
</div>
<div fxLayout.lt-sm="column" fxLayout="row" fxLayoutAlign="center center">
  <app-donate-card fxFlex fxFlex.gt-sm="30%"></app-donate-card>
</div>


<app-card-line path="cardsHome"></app-card-line>

<div class="line" fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center ">
  <app-depoimento fxFlexOrder.gt-sm="2" fxFlex fxFlex.gt-sm="66%" fxFlex.gt-md="50%" fxFlexAlign.gt-sm="center"></app-depoimento>
</div>
