<div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
  <mat-card fxFlex="25%" class="generic-card" [class.mat-elevation-z1]="true">
  <mat-card-title-group >
    
    <mat-card-title >
      Apoie a nossa causa
    </mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <p>
      Faça uma doação.
    </p>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="center center">
    <button mat-raised-button><mat-icon>favorite</mat-icon> Doar Agora!</button>
  </mat-card-actions>
</mat-card>
</div>