  <form class="form-space" fxLayout="column" #userDataForm="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <p>Please, check your personal data, address, contact info and login password:</p>
    <mat-form-field fxFlex>
      <input matInput type="text" placeholder="Name" name="userName" [(ngModel)]="user.name" 
        required minLength="4" maxlength="80" pattern="^[\wÀ-ú]+(\s[\wÀ-ú]+){1,10}">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput type="tel" placeholder="Telephone" name="tel" [(ngModel)]="user.tel" 
      required minlength="8" maxlength="15" pattern="^\d+">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput type="email" placeholder="E-Mail" name="email" [(ngModel)]="user.email" required >
    </mat-form-field>
    <mat-divider></mat-divider>
    <p>Do you want to change your password?</p>
    <mat-button-toggle-group class="toggle-button" #group="matButtonToggleGroup" fxFlex="10%" fxLayout="row" fxLayoutAlign="start center">
    <mat-button-toggle value="left" aria-label="turn on passord changes" fxFlex fxAlign="center">
     No
    </mat-button-toggle>
    <mat-button-toggle value="center" aria-label="Turn off password changes" fxFlex fxAlign="center">
      Yes
    </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field fxFlex>
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="user.password" #password="ngModel" required minlength="6" maxlength="8" >
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput type="password" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="user.confirmPassword" required minlength="6" maxlength="8" #confirmPassword="ngModel">
    </mat-form-field>
    <p>Please, informe your address:</p>

    <button mat-raised-button type="submit" fxFlex="20%" fxFlexAlign="center" [disabled]="!userDataForm.form.valid">Enviar</button>
  </form>

  {{userDataForm.value | json}}
  {{user | json}}