  <form class="form-space" fxLayout="column" #userForm="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <p>Please, informe your personal and login info:</p>
    <mat-form-field fxFlex>
      <input matInput type="text" placeholder="Name" name="userName" [(ngModel)]="user.name" 
        required minLength="4" maxlength="80" pattern="^[\wÀ-ú]+(\s[\wÀ-ú]+){1,10}">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput type="tel" placeholder="Telephone" name="tel" [(ngModel)]="user.tel" 
      required minlength="8" maxlength="15" pattern="^\d+">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput type="email" placeholder="E-Mail" name="email" [(ngModel)]="user.email" required >
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="user.password" #password="ngModel" required minlength="6" maxlength="8" >
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput type="password" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="user.confirmPassword" required minlength="6" maxlength="8" #confirmPassword="ngModel">
    </mat-form-field>
    <p>Please, informe your address:</p>

    <button mat-raised-button type="submit" fxFlex="20%" fxFlexAlign="center" [disabled]="!userForm.form.valid">Enviar</button>
  </form>

  {{userForm.value | json}}
  {{user | json}}
