/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-size: 10px;
  font-weight: 400;
  padding: 5px 10px;
}

p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}