<ngb-carousel>
  <ng-template ngbSlide>

     <img src="https://firebasestorage.googleapis.com/v0/b/iame-e84f9.appspot.com/o/sliderhome%2FSlidehome1.png?alt=media&token=683799e3-6714-4882-8ede-3fa415531a50" width="100%"/>

  </ng-template>
  <ng-template ngbSlide>
     <img src="https://firebasestorage.googleapis.com/v0/b/iame-e84f9.appspot.com/o/sliderhome%2FSlidehome1.png?alt=media&token=683799e3-6714-4882-8ede-3fa415531a50" width="100%"/>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://firebasestorage.googleapis.com/v0/b/iame-e84f9.appspot.com/o/sliderhome%2FSlidehome1.png?alt=media&token=683799e3-6714-4882-8ede-3fa415531a50" width="100%"/>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
</ngb-carousel>