.rounded-card{
  padding: 5 0px 5px 0px;
  height: 50vh;
  text-align: center;
  margin: auto auto;
}

img {
 width: 150px;
 border-radius: 50% 50% 50% 50%;
 margin: 0 auto -15px auto;
}

.rounded-card-area-texto {
  padding: 0px auto auto auto;
  border: 2px solid salmon;
  box-shadow: 2px 2px 2px;
}