.rounded-card{
  padding: 5 0px 5px 0px;
  height: 50vh;
  text-align: center;
  margin: auto auto;
}

img {
 width: 150px;
 border-radius: 50% 50% 50% 50%;
 
 margin: 0 auto -15px auto;
 box-shadow: 4px 4px 4px;
}

.rounded-card-area-texto {
  padding: 10px auto auto auto;
  margin: 10px;
  background-color: mistyrose;
  border-left: 10px solid salmon;
  box-shadow: 3px 3px 3px;
}