.rounded-card{
  padding: 5px 0px 5px 0px;
  width: 300px;
  text-align: center;
  margin: auto auto;
}
img {
 width: 100px;
 border-radius: 50%;
 margin: 0 auto -10px auto;
}

.rounded-card-area-texto {
  padding: 0px auto auto auto;
  border: 2px solid salmon;
  box-shadow: 2px 2px 2px;
}